Makefile
inc/
.c
ppport.h
.DS_Store
.*.sw[pon]
*.bak
*.old
Build
_build/
xshelper.h
META.yml
MYMETA.yml
MYMETA.json
MANIFEST
MANIFEST.bak
.online
blib/
pm_to_blib
nytprof*
core
perltidy.ERR
tmp/
Server-Starter-*.tar.gz
/Server-Starter-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
